<nav class="navbar navbar-expand-lg navbar-light py-4">
  <div class="container">
    <a class="navbar-brand" href="{{ site.Home.RelPermalink }}">
      {{ $logo := resources.Get "images/logo.svg" }}
      <div class="text-primary" style="width: 45px;">
        {{ $logo.Content | safeHTML }}
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header01" aria-controls="header01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="header01">
      <ul class="navbar-nav ms-auto mt-3 mt-lg-0 mb-3 mb-lg-0 me-4">
        <li class="nav-item me-4">
          <a class="nav-link" href="#">
            About
          </a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="#">
            Company
          </a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="#">
            Services
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Testimonials
          </a>
        </li>
      </ul>
      <div>
        <a class="btn btn-primary" href="#">
          Contact Us
        </a>
      </div>
    </div>
  </div>
</nav>